# 忽略 Python 编译文件
*.pyc
__pycache__

# 忽略环境/依赖相关的目录或文件
venv/
env/
*.env
.env.*

# 忽略编辑器/IDE相关的文件或目录
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp

# 忽略个人配置文件
*.config
